# Environments
.env
venv/
__pycache__/

# Notebook checkpoints
.ipynb_checkpoints/
# Ignore large models
models/distilbert_disaster/
# Ignore large Kaggle datasets
data/raw/*.csv
data/processed/*.csv
*.zip